@charset "UTF-8";

html{
    margin:0px;
    padding:0px;
}
body{
    background:skyblue;
}
@keyframes colorAni1{
    0%{background:rgba(30, 30, 30, .3);}
    100%{background:white;}
}
@keyframes colorAni2{
    0%{background:white;}
    100%{background:rgba(30, 30, 30, .3);}
}
div#head-container{
    position:fixed;
    width:100%;
    height:70px;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    background:rgba(30, 30, 30, .3);
    white-space:nowrap;
}
h1#head-title{
    display:inline-block;
    font-family: 'Fredoka One', cursive; 
    font-size:30px;
    margin:0px;
    margin-left:150px;
    margin-top:15px;
}
div#head-container a#main-title{
    text-decoration:none;
    color:white;
    z-index:100;
}
ul#main-menu{
    display:inline-block;
    font-family:'Nanum Gothic', sans-serif;
    font-size:15px;
    font-weight:bold;
    position:relative;
    top:-5px;
    margin-left:100px;
}
ul#main-menu li{
    display:inline-block;
    padding-right:30px;
    visibility:hidden;
}
ul#main-menu li a{
	text-decoration:none;
	color:black;
}
ul#main-menu li a:hover{
    color:rgba(255, 40, 40, .7);
}
section#main-container{
    width:1200px;
    min-height:100px;
    margin:0 auto;
    margin-top:90px;
    background:white;
}
div#footer{
    position:absolute;
    width:100%;
    height:70px;
    left:0px;
    background:rgba(0, 0, 0, .3);
    margin:0px;
    margin-top:20px;
    padding:0px;
}
div#footer p{
    margin-left:150px;
    font-size:13px;
    color:white;
    font-family:'Nanum Gothic', sans-serif;
    position:relative;
    top:15px;
}
div#quick-menu{
    position: absolute;
    right:25px;
    width: 100px;
    height: 350px;
    background:gray;
    border:1px solid gray; 
    text-align:center;
    font-family:'Nanum Gothic', sans-serif;
    font-weight:bold;
    font-size:13px;
}
div#quick-menu .quick{
    position: relative;
    width: 90px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 7px;
    background:white;
    cursor:pointer;
}
div.quick img{
	display:block;
	width:55px;
	height:55px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
}
div#quick-menu div:first-of-type{
    margin-top: 5px;
}    
div#goToTop{
    margin:0 auto;
    width:100px;
    height:30px;
    cursor:pointer;
    font-size:15px;
}
div#padding{
	padding:30px;
}
h1#page-title{
	font-family:'Nanum Gothic', san serif;
	font-weight:bold;
	margin:0px;
	margin-bottom:20px;
}
hr{
	background:lightgray;
	border-top:1px solid #c8c8c8;
	border-bottom:none;
}
