<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
		"-//mybatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
	<typeAliases>
	   <typeAlias type="project.go.pcgogo.lostandfound.model.vo.LostAndFound" alias="lnfMap"/>
	   <typeAlias type="project.go.pcgogo.lostandfound.model.vo.Attachment" alias="attach"/>
       <typeAlias type="project.go.pcgogo.faq.model.vo.Post" alias="faq" />
	   <typeAlias type="project.go.pcgogo.user.model.vo.Manager" alias="manager"/>
	   <typeAlias type="project.go.pcgogo.user.model.vo.Member" alias="member"/>
	   
	   <typeAlias type="project.go.pcgogo.pcRoom.model.vo.PcRoomRsv" alias="pcRoomRsv"/>
	   <typeAlias type="project.go.pcgogo.pcRoom.model.vo.NowPcStatus" alias="nowPcStatus"/>
	   <typeAlias type="project.go.pcgogo.pcRoom.model.vo.PcRoomList" alias="pcRoomList"/>
	   <typeAlias type="project.go.pcgogo.pcRoom.model.vo.PcRoom" alias="pcRoom"/>
	   
       <typeAlias type="project.go.pcgogo.faq.model.vo.PostComment" alias="faqComment" />
       <typeAlias type="project.go.pcgogo.faq.model.vo.AttachFile" alias="attachFile" />
       <typeAlias type="project.go.pcgogo.chat.model.vo.Chat" alias="chat"/>
       <typeAlias type="project.go.pcgogo.chat.model.vo.InsertChat" alias="insertChat"/>
	</typeAliases>
</configuration>
