<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pcRoom">
	<select id="pcRoomList" parameterType="String" resultType="pcRoomList">
		select * from pcRoomList where placename like '%'||#{place_name}||'%'
	</select>
	
	<select id="nowPcStatus" resultType="nowPcStatus">
		select * from nowPcStatus where pcRoomName = #{ pcRoomName}
	</select>
	
	<select id="pcRoomRsv" resultType="pcRoomRsv">
		select * from pcRoomTest where pmPcRoomNo = #{pcRoomNo}
	</select>

</mapper>
