<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="post">
	<!-- FAQ게시판 전체보기 쿼리 -->
	<select id="selectFaqList">
		select *
		from faq
		order by desc
	</select>
	
	<!-- FAQ게시판 전체 컨텐츠 수 -->
	<select id="selectFaqTotalContents" resultType="_int">
	    select count(*) from faq
	</select>

	<!-- FAQ게시판 검색된 리스트보기 쿼리 -->
	<select id="selectSearchList">
	 	select postno, posttitle, postwriter, postcontent
	 	from faq
	 	where 
	 	order by postdate desc
	</select>
	
	<!-- FAQ게시판 검색된 컨텐츠 수-->	
	<select id="selectSearchFaqTotalContents">
		select count(*)
		from faq
		where 
	</select>
		
</mapper>