<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lnf">
	<select id="selectlofList" resultMap="lnfMap">
	select * 
	from lostandfound
	order by lnfno desc 
	</select>
	<resultMap type="map" id="lnfMap">
	
	</resultMap>
	
	<select id="selectlofTotalContents" resultType="_int">
	    select count(*) from lostandfound 	
	</select>
	
	<select id="selectlnfListType" resultType="lnfMap">
		select * from lostandfound
		where lnftype = #{lnfType}
		order by lnfNo desc
	</select>
	
	<select id="selectlnfSelectContents" resultType="_int">
		select count(*) from lostandfound
		where lnftype = #{lnfType}
	</select>
	
	<select id="selectLnfNameList" resultType="lnfMap">
		select * from lostandfound
		where lnfName LIKE '%'||#{lnfName}||'%'
		order by lnfNo desc
	</select>
	
	<select id="selectLnfNameCount" resultType="_int">
		select count(*) from lostandfound
		where lnfName LIKE '%'||#{lnfName}||'%'
		
	</select>
	
	<select id="selectViewList" resultType="lnfMap">
		select * from lostandfound
		where lnfNo = #{lnfNo}
		order by lnfNo desc
	</select>
	
	<select id="selectViewImgList" resultType="attach">
		select * from attachment
		where lnfNo = #{lnfNo}
		order by lnfNo desc
	</select>
	
	<insert id="insertBoard"
			parameterType="lnfMap">
		insert into lostandfound(lnfEnrollName, lnfNo, lnfType, lnfName, lnfPcRoomName,lnfGetDate,lnfStatus)
		values(#{lnfEnrollName}, 
			   seq_lostandfound_lnfNo.nextval, 
			   #{lnfType},
			   #{lnfName},
			   #{lnfPcRoomName},
			   default,
			   default)
		<selectKey keyProperty="lnfNo"
				   resultType="_int"
				   order="AFTER">
			select seq_lostandfound_lnfNo.currval
			from dual
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		insert into attachment(attachmentno, 
							   lnfno, 
							   originalfilename,
							   renamedfilename)
		values (seq_attachment_lnfNo.nextval,
				#{lnfNo},
				#{originalFileName},
				#{renamedFileName})
	</insert>
	
	<update id="completeDev">
  	  update lostandfound set 
      lnfEnrollName = #{lnfEnrollName}, lnfName = #{lnfName}, lnfPcRoomName = #{lnfPcRoomName}
      where lnfNo = #{lnfNo}
   </update>
   
	<delete id="deleteDev">
     delete from lostandfound where lnfNo = #{lnfNo}
   </delete>
</mapper>