<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manager">
	<select id="selectOne" parameterType="string" resultType="manager">
		select * from manager where managerId = #{managerId}
	</select>
	
	<insert id="insertPcRoom" parameterType="pcRoom">
		insert into pcRoom values(seq_pcRoom_pcRoomNo.nextval, #{pcRoomName}, #{pcRoomAddress}, #{pcRoomManagerId}, default)
	</insert>
	
	<insert id="insertPlacement" parameterType="placement">
		insert into placement values(seq_pcRoom_pcRoomNo.currval, #{pmFloor}, #{pmRow}, #{pmCol}, #{pmContent}, #{pmSeats})
	</insert>
</mapper>
