<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manager">
	<select id="selectOne" parameterType="string" resultType="manager">
		select * from manager where managerId = #{managerId}
	</select>
	
	<insert id="insertPcRoom" parameterType="pcRoom">
		insert into pcRoom values(seq_pcRoom_pcRoomNo.nextval, #{pcRoomName}, #{pcRoomAddress}, #{pcRoomManagerId}, default)
	</insert>
	
	<insert id="insertPlacement" parameterType="placement">
		insert into placement values(seq_pcRoom_pcRoomNo.currval, #{pmFloor}, #{pmRow}, #{pmCol}, #{pmContent}, #{pmSeats})
	</insert>
	
	<select id="getPcRoomList" parameterType="string" resultType="pcRoom">
		select * from pcRoom where pcRoomManagerId = #{managerId} and pcRoomPermitted = 'Y'
	</select>
	
	<select id="getPlacementList" parameterType="_int" resultType="placement">
		select * from placement where pmPcRoomNo = #{pcRoomNo}
	</select>
	
	<select id="selectMemoList" resultType="memo">
		select * from memo order by memono desc
	</select>
	
	<insert id="insertMemo">
		insert into memo values(seq_memo_memono.nextval, #{memo}, #{password}, default)
	</insert>
	<resultMap type="map" id="memo"></resultMap>
	
	<delete id="deleteMemo">
     delete from memo where memono = #{no} and password = #{password}
	</delete>
  
</mapper>
