<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manager">
	<select id="selectOne" parameterType="string" resultType="manager">
		select * from manager where managerId = #{managerId}
	</select>
	
	<insert id="insertPcRoom" parameterType="pcRoom">
		insert into pcRoom values(seq_pcRoom_pcRoomNo.nextval, #{pcRoomName}, #{pcRoomAddress}, #{pcRoomManagerId}, default, #{xLoc}, #{yLoc})
	</insert>
	
	<insert id="insertPlacement" parameterType="placement">
		insert into placement values(seq_pcRoom_pcRoomNo.currval, #{pmFloor}, #{pmRow}, #{pmCol}, #{pmContent}, #{pmSeats}, 'x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x')
	</insert>
	
	<select id="getPcRoomList" parameterType="string" resultType="pcRoom">
		select * from pcRoom where pcRoomManagerId = #{managerId} and pcRoomPermitted = 'Y'
	</select>
	
	<select id="getPlacementList" parameterType="_int" resultType="placement">
		select * from placement where pmPcRoomNo = #{pcRoomNo}
	</select>
	
	<select id="getPriceList" parameterType="_int" resultType="priceList">
		select * from priceList where plPcRoomNo = #{pcRoomNo}
	</select>
	
	<delete id="deletePriceList" parameterType="_int">
		delete from priceList where plPcRoomNo = #{pcRoomNo}
	</delete>
	
	<insert id="insertPriceList" parameterType="priceList">
		insert into priceList values(#{plPcRoomNo}, #{pl1000}, #{pl2000}, #{pl3000}, #{pl5000}, #{pl10000}, #{pl20000}, #{pl30000}, #{pl50000})
	</insert>
	
	<update id="updatePriceList" parameterType="priceList">
		update priceList set pl1000 = #{pl1000}, pl2000 = #{pl2000}, pl3000 = #{pl3000}, pl5000 = #{pl5000}, 
							 pl10000 = #{pl10000}, pl20000 = #{pl20000}, pl30000 = #{pl30000}, pl50000 = #{pl50000}
							where plPcRoomNo = #{plPcRoomNo} 
	</update>
	
	
	<select id="selectMemoList" resultType="memo">
		select * from memo order by memono desc
	</select>
	
	<insert id="insertMemo">
		insert into memo values(seq_memo_memono.nextval, #{memo}, #{password}, default)
	</insert>
	<resultMap type="map" id="memo"></resultMap>
	
	<delete id="deleteMemo">
     delete from memo where memono = #{no} and password = #{password}
	</delete>
  	
  	<select id="getChartData" parameterType="_int" resultType="hashmap">
  	select *
	from(
		select reservedtime, count(*) as cnt
		from (
			select *
			from reserved
			where reservedPcRoomNo = ${value}
		)
		group by reservedtime
		order by reservedtime)
		where <![CDATA[reservedtime <= (sysdate-1)]]>
  	</select>
  	<select id="getPcRoom" resultType="pcRoom">
  		select * from pcRoom where pcRoomNo = ${value}
  	</select>
  	<update id="updatePcRoomInfo" parameterType="pcRoom">
  		update pcRoom
  		set pcRoomName = #{pcRoomName}, pcRoomAddress = #{pcRoomAddress}
  		where pcRoomNo = ${pcRoomNo}
  	</update>
</mapper>
